.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-top: var(--header-height, 80px);

  background-image: url('./assets/page-background.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top center;
  background-color: #f5deb3;
}


.content > * {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
